.divBody {
    background: #11283B;
    height: 100vh;
    max-width: 100%;

}

.header {
    background-color: #0C1C2A;
    display: flex;
    height: 70px;
    box-shadow: 0px 3px 6px #00000029;
    background: #0C1C2A 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    justify-content: center;
}

.pucrsH1 {
    display: flex;
    align-items: center;
    font-family: 'GothamSSm';

> strong {
    font-family:'Courier New', Courier, monospace;
    }
}

.recoveryPass {
    font-family: 'GothamSSm';
    color: #C1A575;
    font-size: 34px;
    text-align: center;
    margin-top: 80px;
}

.formulation {
    text-align: center;
    margin-top: 60px;
}


.inputNewPass {
    width: 520px;
    height: 40px;
    background: #FFFFFFCC;
    border-style: none;
    border-radius: 5px;
    border: 2px solid #C1A575;
}


.inputConfirmPass {
    width: 520px;
    height: 40px;   
    background: #FFFFFFCC;
    border-style: none;
    border-radius: 5px;
    border: 2px solid #C1A575;
    margin: 0;
}


.newPass {
    margin-right: 397px;
    margin-bottom: 5px;
    font-family: 'GothamSSm';
    font-size: 14px;
    color: #C1A575;
    
}


.confirmPass {
    margin: 0;
    font-family: 'GothamSSm';
    font-size: 14px;
    margin-right: 325px;
    margin-bottom: 5px;
    margin-top: 23px;
    color: #C1A575;
}

.cadeadoNew {
    margin-right: 5px;
}


.cadeadoConfirm {
    margin-right: 5px;
}


.paragraph {
    color: #FFFFFFCC;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    opacity: 0.5;
}


.buttonSave {
    margin-top: 25px;
    margin-left: 814px;
    border-radius: 20px;
    font-family: 'GothamSSm', bold;
    cursor: pointer;
    color: #FFFFFF;
    background: #C1A575;
    border-style: none;
    width: 130px;
    height: 36px;
}